# Begin Project
project:
  type: website
  pre-render: wget -nc https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/lmu-osc-custom.scss --no-check-certificate
  post-render: rm lmu-osc-custom.scss
# End Project


# Begin Website
website:
  title: "Generating and evaluating synthetic data in R"
  page-footer:
    center: "Copyright, 2025 Open Science Center at LMU Munich"
    border: false
  search:
    location: sidebar
  repo-url: https://github.com/lmu-osc/synthetic-data-tutorial
  repo-actions: [edit, issue]
  back-to-top-navigation: true
  page-navigation: true
  favicon: assets/LMU_OSC_favicon.jpg
  margin-header: |
    ![](/assets/LMU_OSC_logo.svg){width="175"}
  page-navigation: true


  navbar:
    right:
      - about.qmd
    left:
      - href: index.qmd
        text: Home
    tools:
      - icon: github
        menu:
          - text: Source Code
            url:  https://github.com/lmu-osc/synthetic-data-tutorial
          - text: Report a Bug
            url:  https://github.com/lmu-osc/synthetic-data-tutorial/issues
      - icon: house-heart
        url: https://www.osc.uni-muenchen.de/index.html


  sidebar:
    style: "docked"
    contents:
      - text: "Overview"
        href: index.qmd
      - text: "Statistical disclosure control"
        href: sdc/
      - text: "Synthetic data: The general idea"
        href: synthetic/
      - text: "Generating synthetic data"
        href: generation/
      - text: "Evaluating synthetic data quality"
        href: evaluation/
# End Website


# Begin Format
format:
  html:
    theme:
      - cosmo
      - lmu-osc-custom.scss
    css:
      - https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/lmu-osc-styles.css
    toc: true
    fontsize: 13pt
    code-overflow: wrap
    grid:
      sidebar-width: 300px
    include-in-header:
      - file: matomo-analytics.html
# End Format

# Begin Editor
editor: source
# End Editor
